<!DOCTYPE html>
<html>
  <head>
    <title>修改密码</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/again.css' />

  </head>
  <body>

  <form action="/forget" method="post">
    账    号: <input type="text" name="username"><br>
    老 密 码  : <input type="text" name="old"><br>
    新 密 码  : <input type="text" name="new"><br>
    确认密 码 : <input type="text" name="again"><br>
    <input type="submit" value="提交">


  </form>

  </body>
</html>
