<!DOCTYPE html>
<html>
<head>
  <title>登录</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<form action="http://localhost:3000/loginSuccess" id="login-f" method="post">
  <input type="text" id="username" placeholder="请输入已验证手机/邮箱" name="username">
  <input type="password" id="password" placeholder="请输入密码" name="password">
  <div id="foget">
    <a href="http://localhost:3000/forget" id="foget-mima">忘记密码?</a>
  </div>
  <input type="submit" id="go">


</form>
</body>
</html>
